<section>

    <div class="container">
         <div class="d-flex justify-content-center">
<div class="card" style="width: 70rem; mt-3 ml-5">
     <img class="card-img-top" src="https://assets.materialup.com/uploads/66fb8bdf-29db-40a2-996b-60f3192ea7f0/preview.png" alt="Card image cap">
  <div class="card-body">
   
    <p class="card-text" style="font-size: medium;">An  empty shopping basket is a lonely shopping basket.Go on Add something! </p>
    <a href="/" class="btn btn-primary btn-lg btn-block">Start Shopping </a>
  </div>
</div>
    </div>
    </div>
</section>