<section>

    <div class="container">
         <div class="d-flex justify-content-center">
<div class="card" style="width: 35rem; mt-3 ml-5">
     
  <img class="card-img-top" src="https://media.istockphoto.com/id/473423148/vector/shopping-basket-icon.jpg?s=612x612&w=0&k=20&c=nARQVggeU4aUNxkb05Y9JP8gvh99uo5sjSNu6tHFyEQ=" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" style="font-size: 30px; color: blue; margin-left: 50px; border: 0px;" >Order Confirmed</h5>
    <p class="card-text" style="font-size: medium;">Your order has been placed successfully, Will be Delivered within one to two working days. </p>
    <a href="/vieworder" class="btn btn-primary btn-lg btn-block">My Orders </a>
  </div>
</div>
    </div>
    </div>
</section>